/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.personal-container{
    padding: 3rem 0;
    background-color: lightseagreen;
}

.title{
    font-size: 80px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3rem;
}

#blackboard{
    width: 80%;
    margin: 0 auto;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
}

li{
    flex-basis: 100px;
    height: 100px;
    background-color: #e68a00;
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}


/*7 - (BONUS 2) Assegno uno stile per ognuno dei 4 tipi di elementi 
      stampati in pagina (numero, buzz, fizz, fizzbuzz)*/

li:nth-child(3n+0) {
    background-color: #5900b3;
}

li:nth-child(5n+0) {
    background-color: #992600;
}

li:nth-child(15n+0) {
    background-color: #008fb3;
}

