body{
    /* background-color: blue; */
}

.personal-container{
    width: 1200px;
    /* height: 600px; */
    margin: 0 auto;
    background-color: lightseagreen;
}

#ps-blackboard{
    width: 80%;
    /* height: 300px; */
    margin: 0 auto;
    /* background-color: red; */
}